*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
main{
    width: 100%;
    padding: 2rem 0rem 0rem 0rem;
}
header{
    margin-bottom: 3rem;
    padding-left: 2rem;
}
header nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}
header nav ul{
    display: flex;
    gap: 1rem;
    margin-right: 2%;
}
header nav ul{
    list-style: none;
}
header img{
    height: 30px;
    width: 100px;
}
.hero-section section h1{
    font-size: 2.5rem;
    margin-top:6rem;
    font-family: 'Raleway', sans-serif;
}
.hero-section>section{
    float: left;
    width: 50%;
}
.hero-section img{
    width: 50%;
    object-fit: contain;
}
.hero-section{
    padding-left: 2rem;
}
.hero-section section p{
    margin: 1rem 0 2rem 0;
}
.hero-section+section{
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
}
.hero-section section span{
    background-color: hsl(224, 93%, 58%);
    padding: 0.3rem 1.5rem;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
}
.inputWrap{
    display: flex;
    gap: 2rem;
}
.secondWrap{
    /* float: left; */
    /* width: 50%; */
}
.hero-section+section{
    background-color: hsl(240, 75%, 98%);
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: top -80px  ;
}
.hero-section+section img{
    /* float: left;
    width: 50%; */
}
.secondWrap h2{
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
}
.thirdWrap img{
    width: 50px;
}
#quote,#arrow,#avatar{
    width: 20px;
}
.secondWrap p{
    width: 70%;
}
.secondWrap p+p{
    margin: 1rem 0;
    width: 70%;
}
.arrowWrap{
    display: flex;
    text-decoration: underline;
    cursor: pointer;
}
.arrowWrap a{
    color: hsl(170, 45%, 43%);
}
#arrow{
    width: 20px;
}
.thirdWrap{
    background: #ffffff;
    height: fit-content;
    width: 40%;
    padding: 1rem;
    border-radius: 0.2rem;
    margin-top: 2rem;
}
.nameWrap{
    display: flex;
    gap: 0.5rem;
}
.hero-section+section{
    height: 600px;
}
.name{
    display: flex;
    flex-direction: column;
}
#avatar{
    border-radius: 50%;
    width: 35px;
}

.fourthWrap{
    height: 150px;
    padding-left: 2rem;
    background:  hsl(238, 22%, 44%);
    padding: 2rem 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    width: 100%;
}
.fourthWrap >*{
    width: 50%;
    color: #ffffff;
}
.fourthWrap .right{

    color: white;
    display: flex;
    flex-direction: column;
}
.fourthWrap .right input{
    width: 50%;
}
.fourthWrap .left h3{
    margin-bottom: 0.8rem;
    font-family: 'Raleway', sans-serif;
}
.fourthWrap .left p{
    width: 80%;
}
footer{
    display: flex;
    justify-content: space-between;
    background: hsl(243, 87%, 12%);
    height: 200px;
    align-items: center;
    position: relative;
}
footer ul li{
    list-style: none; 
}
footer *{
    color: white;
    cursor: pointer;
}
footer section:first-of-type{
    margin-left: 2rem;
}
footer #contact ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer #contact ul li{
    display: flex;
    gap: 1rem;
}
.fourthWrap .right span{
    background-color: hsl(224, 93%, 64%);
    padding: 0.3rem 1.5rem;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 30%;
}
.fourthWrap .right input{
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}
#about,#contacts{
    line-height: 1.5;
    margin-top: 3%;
}
footer #footer-img{
    position: absolute;
    top: 10%;
    background-size: 10px 30px;
    left: 2%;
}
footer svg path{
    fill: #ffffff;
}
#contact{
    margin-top: 2rem;
}
.start:hover{
    background-color:  hsl(224, 93%, 72%);
}
.fourthWrap .right span:hover{
    background-color:  hsl(224, 93%, 72%);
}
footer *:hover{
    color:  hsl(224, 93%, 58%);
}

@media screen and (max-width:1100px) {
    main{
        width: 100%;
        padding: 1rem 0rem 0rem 0rem;
    }
    header{
        margin-bottom: 3rem;
        padding-left: 1rem;
    }
    header img{
        height: 20px;
        width: 80px;
    }
    header img{
        height: 30px;
        width: 100px;
    }
    .hero-section section h1{
        font-size: 1.5rem;
        margin-top:2rem;
        margin-right: 5%;
        text-align: center;
    }
    .hero-section>section{
        float: left;
        width: 100%;
    }
    .hero-section img{
        width: 100%;
        object-fit: contain;
    }
    .hero-section{
        padding-left: 2rem;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 2rem;
    }
    .hero-section section p{
        margin: 1rem 0 2rem 0;
        margin-right: 5%;
    }
    .hero-section+section{
        padding-left: 2rem;
        padding-top: 1rem;
    }
    .hero-section section span{
        background-color: hsl(224, 93%, 58%);
        padding: 0.3rem 1.5rem;
        color: white;
        border-radius: 0.2rem;
        cursor: pointer;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .inputWrap{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .hero-section .inputWrap input{
        width: 80%;
        margin: 0 auto;
        height: 30px;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }
.hero-section+section{
    background-color: hsl(240, 75%, 98%);
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: top -80px  ;
     height: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.hero-section+section img{
    width: 100%;
}
.hero-section+section>section{

}
.secondWrap{
    width: 100%;
}
.secondWrap h2{
    margin-bottom: 1rem;
    width: 100%;
}
.thirdWrap img{
    width: 50px;
}
#quote,#arrow,#avatar{
    width: 20px;
}
.secondWrap p{
    width: 95%;
    margin: 0 auto;
}
.secondWrap p+p{
    margin: 1rem 0;
    width: 95%;
    text-align: center;
}
.arrowWrap{
    display: flex;
    text-decoration: underline;
    cursor: pointer;
    justify-content: center;
}
.arrowWrap a{
    color: hsl(170, 45%, 43%);
}
#arrow{
    width: 20px;
}
.thirdWrap{
    margin: 0 auto;
    background: #ffffff;
    height: fit-content;
    width: 80%;
    padding: 1rem;
    border-radius: 0.2rem;
    margin-top: 2rem;
}
.nameWrap{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.name{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
#avatar{
    border-radius: 70%;
    width: 85px;
    height: 40px;
    margin-right: 1rem;
}
.secondWrap h2{
    text-align: center;
}
.fourthWrap{
    height: fit-content;
    padding-left: 2rem;
    align-items: center;
    padding: 2rem 1rem 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}
.fourthWrap >*{
    width: 100%;
}
.fourthWrap .right{
    align-items: center;
}
.fourthWrap .right input{
    width: 80%;
    height: 30px;
}
.fourthWrap .left h3{
    text-align: center;
}
.fourthWrap .left p{
    width: 100%;
    text-align: center;
}
footer section:first-of-type{
    margin-left: 2rem;
}
footer section{
    margin-left: 2rem;
}
footer #contact ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer #contact ul li{
    display: flex;
    gap: 1rem;
}
.fourthWrap .right span{
    background-color: hsl(224, 93%, 64%);
    padding: 0.3rem 1.5rem;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 30%;
}
.fourthWrap .right input{
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.fourthWrap .right span{
    width: 80%;
    text-align: center;
}
#about,#contacts{
    line-height: 1.5;
    margin-top: 3%;
}
footer #footer-img{
    position: absolute;
    top: 10%;
    background-size: 2px 10px;
    left: 7%;
}
#contact{
    margin-top: 8rem;
}
footer{
    flex-direction: column;
    height: 400px;
    justify-content: flex-start;
    background: hsl(243, 87%, 12%);
    align-items: flex-start;
}
header nav ul li{
    margin: 0 0.8rem;
}
#contact ul li img{
    margin-right: 0.8rem;
}
#contact ul li:first-of-type{
    margin-bottom: 0.8rem;
}
header img{
    height: 30px;
    width: 100px;
}
}